<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.example.nova.testing.NovaDebugControlReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.nova.DEBUG_CALL_CONTROL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
